<%- include("../layouts/header") %>

    <!-- Body -->
    <main>
        <div class="container">
            <section class="login-container my-4">
                <h4 class="text-center my-4">LOGIN</h4>
                <div class="login-form">
                    <form id="user-login">
                        <input type="text" class="form-control my-2" name="email" placeholder="Email Address">
                        <input type="password" class="form-control my-2" name="password" placeholder="Password">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </section>
        </div>
    </main>
    <!-- Body -->

    <script src="/js/login.js"></script>
<%- include("../layouts/footer") %> 