<%- include("./layouts/header") %> 

<div class="container">
    <div class="row">
        <div class="col-md-6 home-img-container">
            <img src="/images/exams.png" alt="Exam picture" class="home-img">
        </div>

        <div class="col-md-6 home-text">
            <div>
                <h1 class="home-title">Exam Platform</h1>
                <p class="home-subtitle">This is a platform for taking exams</p>
                <a href="/register" class="btn btn-primary">Register</a>
                <a href="/login" class="btn btn-secondary">Login</a>
            </div>
        </div>
    </div>
</div>

<%- include("./layouts/footer") %> 